

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  margin-top: 0px;
}

h1.header {
  text-shadow: 1px 1px blue;
  background: aliceblue;
  padding-top: 10px;
  padding-bottom: 5px;
}

.restaurantName {
    border: 1px solid #e5e5e5;
    text-align: center;
    margin-top: 0px;
    text-shadow: 2px 2px #756c1c;
    background: lemonchiffon;
    padding-top: 2px;
    padding-bottom: 5px;
    color: #b37b48;
    border-radius: 10px
}

  div#tableSize.table-responsive {
    max-width: 523px;
  }

.thead {
  background: antiquewhite;
}

.newReview {
  margin-bottom: 10px;
}

.yourReviewText{
  text-transform: capitalize;
  font-size: large;
  border: 1px solid #e5e5e5;
  text-align: center;
  background: lemonchiffon;
  padding: 3px;
  color: #b37b48;
  border-radius: 5px;
}

.reviewHead {
  display: inline-block;
}

/*for star rating is modified from Lea Verou*/
legend {
  font-size: inherit;
  margin-bottom: 5px;
  font-weight: bold;
}

.rating {
  float:left;
  /*to get the right direction of the arrow keys in the star rating      we need to invert the direction*/
  unicode-bidi: bidi-override;
  direction: rtl;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:150%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

/*color the stars when group gets focus*/
.rating > input:focus:not(:checked) + label,
.rating > input:focus:not(:checked) ~ input + label  {
  color: gold;
  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}



.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
/*end star rating */

button {
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 700px) {
  .container {
    max-width: 650px;
  }


  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

}
