

<nav>
	<div class="row">
		<div class="col-md-12">
			<form>
				<label>Filter by:</label>
				<input type="text" ng-model="search.name" placeholder="Name" aria-label="filter by name of restaurant">
				<label>Cuisine:
					<select name="cuisineSelect" ng-model="search.cuisineType" placeholder="Cuisine" aria-label="filter by cuisine type of restaurant">
						<option ng-repeat="option in info.uniqueCuisines" value="{{option}}">{{option}}</option>
					</select>
				</label>

				<input ng-model="search.address" placeholder="Address" aria-label="filter by address of restaurant">
			</form>
			<br>

			<div class="table-responsive" id="tableSize" >
				<table id="searchResults" class="table table-hover table-sm table-bordered">
					<thead class="thead">
						<tr>
							<th>Name</th>
							<th>Cuisine</th>
							<th>Location</th>
						</tr>
					</thead>
					<tbody>
					  <tr ng-repeat="item in info.items | filter:search" ng-click="info.toggleSelectedRestaurant(item, $event)" tabindex="0" >
					    <td scope="row" >{{item.name}}</td>
					    <td>{{item.cuisineType}}</td>
					    <td>{{item.address}}</td>
					  </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</nav>




<main ng-show="info.selectedRestaurant">
	<div class="row textCenter">
		<div class="col-sm-6 col-md-6">
			<h1 class="restaurantName" tabindex="-1" id="restaurantName">{{info.selectedRestaurant.name}}</h1>
			<h4>Cuisine type: {{info.selectedRestaurant.cuisineType}}</h4>
			<h6>Price class: {{info.selectedRestaurant.price}}</h6>
			<h5>Address: {{info.selectedRestaurant.address}}</h5>
			<h5>Phone nr: {{info.selectedRestaurant.phone}}</h5>
			<h5> <a href="{{info.selectedRestaurant.reserve_url}}">Reserve place</a></h5>
		</div>

		<figure class="col-sm-6 col-md-6" >
			<img ng-src="{{info.selectedRestaurant.image_url}}" alt="A photo of the {{info.selectedRestaurant.name}} restaurant">
		</figure>
	</div>

	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div ng-repeat="review in info.selectedRestaurant.reviews" >
				<b>Reviewer: </b>{{review.reviewerName}},
				<b>Date: </b>{{review.date}},
				<b>Rating: </b>{{review.rating}} of 5 stars,
				<b>Comment: </b>"{{review.comments}}"
			</div><br>
			<div ng-include="'views/review.html'" ng-controller="ReviewCtrl as reviewForm"></div>
		</div>
	</div>


	</div>
</main>
