

<nav>
	<div class="row">
		<div class="col-md-12">
			<h4>Filter by:</h4>
			<label><input ng-model="search.name" placeholder="Name"></label>
			<label><input ng-model="search.cuisineType" placeholder="Cuisine"></label>
			<label><input ng-model="search.adress" placeholder="Location"></label><br>

			<div class="table-responsive" id="tableSize">
				<table id="searchResults" class="table table-hover table-sm table-bordered">
					<thead class="thead">
						<tr>
							<th>Name</th>
							<th>Cuisine</th>
							<th>Location</th>
						</tr>
					</thead>
					<tbody>
					  <tr ng-repeat="item in info.items | filter:search" ng-click="info.toggleSelectedRestaurant(item)" >
					    <td scope="row" >{{item.name}}</td>
					    <td>{{item.cuisineType}}</td>
					    <td>{{item.adress}}</td>
					  </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</nav>




<div ng-show="info.selectedRestaurant">
	<div class="row">
		<div class="col-sm-6 col-md-6">
			<h1> <a ng-click="info.openReview = !info.openReview" >{{info.selectedRestaurant.name}}</a></h1>
			<h4>Adress: {{info.selectedRestaurant.adress}}</h4>
			<h4>Cuisine type: {{info.selectedRestaurant.cuisineType}}</h4>
			<h5>Open: {{info.selectedRestaurant.openHours}}</h5>
		</div>

		<figure class="col-sm-6 col-md-6" >
			<img ng-src="images/{{info.selectedRestaurant.img}}" alt="resturant picture">
			<figcaption> A photo of the {{info.selectedRestaurant.name}} restaurant.</figcaption>
		</figure>

		<div class="col-sm-12 col-md-12">
			<div ng-show="info.openReview">
				<div ng-repeat="review in info.selectedRestaurant.reviews" >
					Reviewer: {{review.reviewerName}}
					Date: {{review.date}}
					Rating: {{review.rating}}
					Comment: {{review.comments}}
				</div>
				<div ng-include="'views/review.html'" ng-controller="ReviewCtrl as review"></div>
			</div>
		</div>
	</div>
</div>
