<label><h4 class="reviewHead">Write your own comment</h4> <input type="checkbox" ng-model="info.showComment" aria-label="Toggle ngHide"></label><br>
<div class="check-element animate-show" ng-if="info.showComment">
	<label> Your name please:
		<input type="text" ng-name="your name"  aria-label="your name" placeholder="your name">
	</label>

	<label> Date of the visit:
		<input type="date">
	</label>

	<textarea ng-model="info.newReview" name="item.review.comment" rows="3" cols="40" placeholder="comment" aria-label="comment field"></textarea>
	<p>
		{{info.newReview}}
	</p>
	<!-- star rating is copied from css-tricks by Chris Coyier and modified by Lea Verou-->
<fieldset class="rating" tabindex="0">
    <legend>Rate the restaurant:</legend>
    <input type="radio" id="star5" name="rating" value="5" tabindex="-1"/><label tabindex="0" for="star5" title="Rocks!">5 stars</label>
    <input type="radio" id="star4" name="rating" value="4" tabindex="-1"/><label tabindex="0" for="star4" title="Pretty good">4 stars</label>
    <input type="radio" id="star3" name="rating" value="3" tabindex="-1"/><label tabindex="0" for="star3" title="Meh">3 stars</label>
    <input type="radio" id="star2" name="rating" value="2" tabindex="-1"/><label tabindex="0" for="star2" title="Kinda bad">2 stars</label>
    <input type="radio" id="star1" name="rating" value="1" tabindex="-1"/><label tabindex="0" for="star1" title="Sucks big time">1 star</label>
</fieldset>


	<button ng-click="info.hideComment()">Reset and Close</button>

</div>